*.bin
*.gz
*.h5
*.png
*.pdf
references/NQTVITCHSpecification.txt
*.DS_Store

.bkp/
.ref_projects/
.vscode/

data/raw/*
data/filtered/*
!data/raw/.gitkeep
!data/filtered/.gitkeep
!data/README.md

itch/build/
itch/cmake-build-*/
itch/external/
itch/logs/*
!itch/logs/.gitkeep

itch-playground/data/
itch-playground/figures/

**/_deps/

__pycache__/
*.pyc
